<div class="container">
  <h1><%= SiteConfig.title %></h1>  
  <p>Currently serving <%= @urls.count %> shortened links</p>
  <form method="post">
    <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
    <input type="submit" value="shorten" id="submit" />
  </form>
  <div class="clear"></div>
</div>

<% if @shortenedURL %>
<div class="result">
Your shortened URL is:
<a href="<%= @shortenedURL %>"><%= @shortenedURL %></a>
</div>
<% end %>

